p
{
    text-align: center;
    color: rgb(27, 4, 9);
}

h1 
{
    text-align: center;
    color: rgb(240, 18, 18);
    border: 5px ridge red;
    padding: 10px;
    border-width: 10px; display: block;
    border-style: inset;
    width: 20%;
    position: relative; top: auto; left: 40%;
}
a{
    text-decoration : inherit ;
}
                            /*element en bas a droite*/                            
body
{
    background-image: url("attention.jpg") ;
    background-attachment: fixed;
    background-position:bottom right;
    background-size: 20%;
    background-repeat:no-repeat;
    color:cyan; 
}
img
{
    display: block; margin: auto;
}
                                    /*survol*/
a:hover
{
    text-decoration: none;
    color: greenyellow;
}
h3
{
    text-align: center;
    border: 5px inset blue;
    padding: 10px;margin: 20px;
    width: 20%;
    position: relative; top: 10px; left: 70%;
}
img
{
        width: 20%;
}
#texte1
{
    TEXT-ALIGN: INHERIT;
    DISPLAY: INLINE-BLOCK;
    MARGIN-RIGHT: 60%;
}
#texte2
{
    text-align: inherit;
    display: inline-block;
    margin-left: 60%;
}
#bloc1
{
    text-align: center;
    position: inherit;
    justify-content: center;
}