body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 1000px;
    text-align: center;
    margin: auto;
    background-color: #EEF7F3;

}

h1{
    text-align: center;
    height: 250px;;
    background-size: 250px;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    background-image: url(logos/logos2.png);
    background-size: 250px
}
h2{
    text-align: center;

    height: 200px;

}
.bandeau{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border-style: ridge;
    list-style: none;
    border-radius: 50px;
    color: #D43E39;
    border-color:#088DD4;
    
}
.images{
    height: 200px;
}
.categories{
    height: 150px;
    display: flex;
    justify-content: space-between;
    border-color:#47DED7;
    border-style:ridge;
    display: flex;
    flex-direction: column;
    border-style: ridge;
    border-radius: 50px;
}

.souscategories{
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.garcons{

    padding-top: 65px;
}
.taille{
    color: inherit;
    height: 20px;
    display: flex;
    justify-content: center;
}
.taille1{
    display: flex;
}
.filles{
    display: flex;
    padding-top: 65px;
}
.enfants{
    display: flex;
    justify-content: space-around;

}
.prix{
    height: 200px;
    display: inline-flex;
}
.container{
    background-color: white;


}
.titre{
    display: flex;
}
/*
@media (max-width:200px){
    .categories{
        flex-direction: column;
    }
}*/
.footer{
    border-style: outset;
    background-color: #D43E39;
    border-radius: 20px;
    height: 100px;
}
.bandeau_footer{
    display: flex;
    border-style: outset;
    border-radius: 20px;
    padding: 20px;
    list-style:none;
    display: flex;
    justify-content: space-between;
    background-color: #DED9CC;

}
.icones{
    width: 20px;
    display: flex;
}

.femme{
    display: flex;
    justify-content: center;
}
/*
.container1{
    display: flex;
    flex-direction: column;
}*/
.adulte{

    flex-direction: column;

}
.imagesF{
    display: flex;
    width: 200px;
}
.homme{
    display: flex;
    justify-content: center;

}

